.ui.container, .ui.header, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

.ui.menu .item>img:not(.ui) {
    width: auto;
}

pre {
    font-family: Consolas, monospace !important;
    color: #777777;
    padding-left: 20px;
    padding: 5px 5px 5px 20px;
    border:1px dotted #CCCCCC;
    border-radius: 4px;
    box-shadow: 2px 2px 0 #f5f5f5;
}

.masthead-homepage {
    padding-bottom: 50px !important;
}

.masthead-homepage > .ui.text.container img {
}

@media screen and (min-width: 500px) {
    /*
    .masthead-homepage > .ui.text.container img {
        margin-top: 20px;
        padding-left: 90px;
        padding-right: 90px;
    }
    */
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    /*min-height: 500px;*/
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: bold;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}


.masthead-homepage > .ui.container {
    position: relative !important;
    display: block !important;
}

@media (max-width: 650px) {
    .masthead-homepage > .ui.container img {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .b-io-masthead-persona {
        display: none;
    }
}

.b-io-masthead-persona {
    position: absolute;
    right: 0;
    top: 0;
}

body.b-io-homepage {
    background-color: #000 !important;
    background-image: url('../img/space-background.jpg') !important;

    -webkit-animation: backgroundScroll 150s linear infinite;
    animation: backgroundScroll 150s linear infinite;
    color: #FFFFFF;

    text-shadow: 2px 2px 10px #000000 !important;
}


.b-io-special {
    color: #FF9E00 !important;
}
.b-io-special-inverted {
    color: #FFFFFF !important;
}

.b-io-space-background {
    background-color: #000 !important;
    background-image: url('../img/space-background.jpg') !important;

    -webkit-animation: backgroundScroll 150s linear infinite;
    animation: backgroundScroll 150s linear infinite;
    color: #FFF !important;
}

body.b-io-homepage .b-io-space-background {
    background: transparent !important;
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1380px -0px;}
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -1380px -0px;}
}

.b-io-space-background > .segment {
    padding-top: 1em !important;
}
.b-io-space-background > .segment > .grid > .row {
    border-top: 20px dotted rgba(255, 255, 255, .1) !important;
}
.b-io-space-background > .segment > .grid > .row:first-child {
    border-top: 0 !important;
}

@media (max-width: 768px) {

    .masthead-homepage .b-io-special {
        display: block;
    }

    .ui.stripe.segment {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .ui.stripe.segment p {
        max-width: 280px;
        margin: 0 auto 0 auto;
    }
}

.b-io-schema-big-title {
    position: relative;
    display: block;
    padding-top: 40px;
}
.b-io-schema-big-title h1 {
    font-size: 3em;
    color: #FF9E00;
    text-align: center !important;
}

.b-io-schema-container {
    position: relative;
    display: block;
    text-align: center;
    padding: 25px 0 45px 0;
}


.b-io-schema-image {
    position: relative;
    display: block;
    max-width: 600px;
    margin: 0 auto 0 auto;
}
.b-io-schema-image img {
    width: 100%;
}

.b-io-schema-title {
    position: relative;
    color: #FF9E00;
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 10px #000000 !important;
    margin-top: -40px;
}

@media screen and (max-width: 500px) {
    .b-io-schema-title {
        margin-top: 0px;
    }
}


.b-io-schema-description {
    //color: #26A9B3;
    color: #FFFFFF;
    //font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    text-shadow: 2px 2px 10px #000000 !important;
}


.b-io-social-container {
    text-align: center;
    padding: 0 0 20px 0;
    vertical-align: middle;
}

#progress_bar .bar {
    width: 35%;
}