Options +FollowSymlinks -Indexes
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ http://baasile.io/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^/discover/?$ discover.php [L]

RedirectPermanent /changelog/2016-10-06.html /changelog/2016-10-06
RedirectPermanent /changelog/2016-10-13.html /changelog/2016-10-13
RedirectPermanent /changelog/2016-11-23.html /changelog/2016-11-23
RedirectPermanent /changelog/2016-11-23 /
RedirectPermanent /changelog/2016-10-13 /
RedirectPermanent /changelog/2016-10-06 /
RedirectPermanent /changelog /
RedirectPermanent /licence /
